
.home-hero-section {
    position: relative; 
    height: 100vh; 
    width: 100%;
    background-image: url('https://static.vecteezy.com/system/resources/previews/061/901/049/large_2x/natural-cosmetic-products-and-herbs-ingredients-for-skincare-body-and-hair-treatment-laying-on-a-gray-background-photo.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    color: white; 
    text-align: center;
    overflow: hidden; 
    z-index: 1;
}

.home-hero-section::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.4); 
}


.hero-content {
    margin-top: 100px; 
    padding: 20px;
    z-index: 2;
}

.hero-content h1 {
    font-size: 3.5rem; 
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.hero-content p {
    font-size: 1.2rem;
    max-width: 700px;
    margin-bottom: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-group button {
    padding: 12px 25px;
    margin: 0 10px;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button-group .primary-button {
    background-color: #4CAF50; 
    color: white;
}

.button-group .secondary-button {
    background-color: rgba(255, 255, 255, 0.2); 
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}


.home-content {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff; 
}

.home-content h1 {
    margin-bottom: 50px;

}


@keyframes scrolling {
    
    0% { transform: translateX(0%); } 
    100% { transform: translateX(-50%); } 
}


.ofertas-barra {
    background-color: #c6e07d; 
    color: white;
    padding: 8px 0;
    overflow: hidden; 
    white-space: nowrap; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.marquee-content {
    animation: scrolling 20s linear infinite; 
    display: inline-block; 
    width: 99vw;
}


.marquee-content span {
    margin-right: 50px; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-content{
    text-align: center;
}
.tarjetas{
    display: flex;
    gap:50px;
    justify-content:center ;
}

.tarjeta-categoria {
    border: 2px solid #D7DBCB;
    padding: 2px;
    justify-content: center;
    border-radius: 20px;
    height: 500px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.tarjeta-categoria i {
    color: #618814;
}
.tarjeta-categoria p{
    color: #7A7A7A
}
.tarjeta-categoria a {
    margin-top:15px ;
    border: 2.5px solid #818A6F86;
    border-radius: 20px;
    width: 200px;
    text-align: center;
}


.section2{
    display: flex;
    margin-top: 60px;

    width: 100%;
    justify-content: center;
    gap:50px;
    


}
.instagram {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 350px; 
    max-width: 100%; 

    font-size: 1.5rem;
    padding-top: 40px;
    

}

.instagram-button{
border: 1px solid pink;
}

.instagram-profile-block a {
    font-family: "Lora", serif;
}

.blog {
    width: 50%;
}
.blog h1{
    font-size: 2rem;
    text-align: center;
    color: #618814;
    

}
.grid-blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5px;

}





.destacados{
    width: 100%;

}
.tarjeta-blog {
    width: 100%; 
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px; /* Este padding YA es el "recuadro" para todo */
    align-items: center; 
}

.tarjeta-blog img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 20px; 
    margin-bottom: 15px; 
}

.tarjeta-blog p {
    line-height: 1.5em; 
    height: 4.5em; 
    overflow: hidden; 
    position: relative; 
}

.tarjeta-blog p::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 0.5rem; 
    background: linear-gradient(to bottom, transparent, white);
}

.tarjeta-blog span{
    color: #4CA54C;
}

